" The Silver Searcher
if executable('ag')
  " Use ag over grep
  set grepprg=ag\ --nogroup\ --nocolor

  " Use ag in CtrlP for listing files. Lightning fast and respects .gitignore
  let g:ctrlp_user_command = 'ag %s -l --nocolor -g ""'

  " ag is fast enough that CtrlP doesn't need to cache
  let g:ctrlp_use_caching = 0
endif

"-----------------------
" use copen and ccl to open and close the fix-window
"-----------------------
" bind \ (backward slash) to grep shortcut
command -nargs=+ -complete=file -bar Ag silent! grep! <args>|cwindow|redraw!
nnoremap \ :Ag<SPACE>


"-----------------------
" use copen and ccl to open and close the fix-window
" F8 to search the word at the cursor with vimgrep
"-----------------------
nnoremap <F8> :vimgrep /<c-r>=expand("<cword>")<cr>/ %<CR>:copen 22<CR>
map <F5> :cp!<CR>
map <F6> :cn!<CR>


noremap <F3> :set invnumber<CR>

set hlsearch     " highlight search word
set incsearch    " show match while typing
set showmatch

